version: '3.8'
services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD:
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
  
  api-gateway:
    image: api-gateway:latest
    build:
      context: ./api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - user-service
      - book-service
      - borrow-service
      - payment-service
      - notification-service

  user-service:
    build: ./user-service
    ports:
      - "8081:8081"
    depends_on:
      - mysql

  book-service:
    build: ./book-service
    ports:
      - "8082:8082"
    depends_on:
      - mysql

  borrow-service:
    build: ./borrow-service
    ports:
      - "8083:8083"
    depends_on:
      - mysql

  payment-service:
    build: ./payment-service
    ports:
      - "8084:8084"
    depends_on:
      - mysql

  notification-service:
    build: ./notification-service
    ports:
      - "8085:8085"
    depends_on:
      - mysql

volumes:
  mysql-data: